.navbar {
  background-color: $dark-3;
  box-shadow: 0 1px 0 $dark-2;
  z-index: 2;

  // fixed navbar on big screens
  // @media (min-width: 900px), (min-height: 900px) {
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   z-index: 10;
  //   @include box-shadow;

  //   & + * {
  //     margin-top: 4rem;
  //   }
  // }
}

.navbar-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  height: $navbar-height;
}

.navbar-logo {
  width: 9.7rem;
  display: flex;
  align-items: center;
  margin: auto;

  &[aria-current="page"]:after {
    @include pseudo;
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -0.4rem;
    background: $prism;
  }
}

.navbar-list {
  display: flex;
  right: -$navbar-link-padding;
}
