$logo-column-width: 12rem;

.tabs {
  @media (min-width: 600px) {
    min-height: 23.5rem; // prevent jank when changing tabs
  }
}

.tabs-list {
  display: flex;
  width: 100%;
}

.tabs-button {
  flex: 1 0 33.333%;
  line-height: 2.3rem;
  color: $light-3;
  border-bottom: 2px solid $dark-2;
  transition:
    0.2s ease-out color,
    0.2s ease-out border-color;

  > svg {
    width: 1.375em;
    top: -1px;
    margin-right: $sp-xxs;

    > path {
      fill: currentColor;
    }
  }

  &[aria-selected="true"] {
    border-image: makePrism() 1;
    border-width: 0 0 2px 0; // safari fix
  }
  &[aria-selected="true"],
  &:hover, &:focus {
    color: $light-1;
    border-bottom-color: currentColor;
    transition: 0.1s ease-out transform;

    &.cornflower-theme { color: $cornflower-md; }
    &.salmon-theme { color: $salmon-md; }
    &.malachite-theme { color: $malachite-md; }

    > svg {
      transform: scale(1.1);
    }
  }
}
@media (max-width: 539px) {
  .tabs-button > svg {
    width: 1.375rem;
  }
  .tabs-button-text {
    @include visually-hidden;
  }
}

.tabs-section.cornflower-theme a {
  color: $cornflower-md;
  &:hover, &:focus {
    color: $cornflower-light;
  }
}
.tabs-section.salmon-theme a {
  color: $salmon-md;
  &:hover, &:focus {
    color: $salmon-light;
  }
}
.tabs-section.malachite-theme a {
  color: $malachite-md;
  &:hover, &:focus {
    color: $malachite-light;
  }
}


.tabs-section-inner {
  padding-top: $sp-sm;
  padding-bottom: $sp-sm;
}
@media (min-width: 600px) {
  .tabs-section-inner {
    display: flex;
    align-items: baseline;
    padding-top: $sp-lg;
    padding-bottom: $sp-sm;
  }
  .tabs-section-content {
    flex: 1 0 calc(100% - #{$logo-column-width});
    flex-wrap: wrap;
    padding-right: $sp-xl;
  }
  .tabs-section-logos {
    flex: 1 0 $logo-column-width;
  }
}

.tabs-section-content > * {
  line-height: 1.75;
  margin-bottom: 0.75em;

  &:not([class*="u-font"]) {
    font-size: inherit;
  }
}

@media (max-width: 599px) {
  .tabs-section-logos-list {
    display: flex;
    flex-wrap: wrap;
  }
}
.tabs-section-logos-link {
  display: block;
  width: max-content;
  padding: $sp-xxs $sp-md;
  top: -$sp-xxs;
  left: -$sp-md;
  transition: 0.2s ease-out transform;

  &:hover, &:focus {
    transform: scale(1.0625);
  }
}
.tabs-section-logos-img {
  display: inline-block;
  height: 2rem;
}
