.contact-form {
  padding: $sp-md $sp-lg $sp-lg $sp-lg;
  width: 34rem;
  max-width: 100%;
}

.contact-form-button {
  display: block;
  margin-left: auto;
}

.contact-address {
  font-style: normal;
}