.cta {
  padding: $sp-xl $sp-lg $sp-md $sp-lg;
  width: 100%;

  @media (min-width: 600px) {
    width: max-content;
  }
}

.cta-links > * {
  margin-bottom: 1em;
}

.cta-or {
  padding-left: 0.5em;
  padding-right: 0.5em;

  @media (max-width: 599px) {
    display: block;
  }
}

.cta-link {
  width: 100%;

  @media (min-width: 499px) {
    width: auto;
    min-width: 14rem;
  }
}