$diamondImgWidth: 9.625rem;

.diamond-img {
  @include absolute-horizontal-center;
  width: $diamondImgWidth;
  top: -$diamondImgWidth / 15;

  @media (max-width: 699px) {
    width: $diamondImgWidth / 2;
    top: $diamondImgWidth * 0.675;
  }

  @media (max-width: 399px) {
    opacity: 0;
    z-index: -1;
  }
}

.diamond-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: $diamondImgWidth * 0.875;

  @media (min-width: 400px) {
    width: calc(50% - #{$sp-md});

    &:nth-of-type(2) {
      position: absolute;
      right: 0;
      top: 0;
    }
    &:last-of-type {
      margin: auto;
    }
  }
  @media (min-width: 700px) {
    width: calc(50% - #{($diamondImgWidth / 2) + $sp-sm});
  }

  &:not(:last-of-type) {
    margin-bottom: $sp-sm;

    @media (min-width: 400px) {
      margin-bottom: $sp-xl;
    }
  }
}

.diamond-card-icon {
  margin: 0 auto $sp-xxs auto;
  width: 2.3rem;
  height: 2.3rem;

  > svg {
    width: 100%;
    height: 100%;
  }
}
