$card-height: 31.75rem;

.trial-config {
  display: flex;
  flex-wrap: wrap;
}

.trial-card {
  padding: $sp-lg $sp-md $sp-md $sp-md;
  width: 28rem;
  min-height: $card-height;

  @media (min-width: 1020px) {
    transition:
      opacity 0.3s ease-out,
      transform 0.3s ease-out;
  }

  @media (min-width: 1400px) {
    width: 26.5rem;
    max-width: 100%;
  }
}

.trial-summary.followup-mode {
  @media (min-width: 1020px) {
    transform: translateX(-100%);
    left: calc(50% - $sp-md);
  }
}

.trial-summary-button {
  position: absolute;
  top: $sp-xl + $sp-xxs;
  left: $sp-sm;
  margin-top: 1px; // forever fudging
  transition:
    color 0.15s ease-out,
    transform 0.15s ease-out;

  svg {
    top: -0.5px;
    width: 1.125em;

    path {
      fill: currentColor;
    }
  }

  &:hover, &:focus {
    color: $cornflower-md;
    transform: scale(1.125);
  }
}

.trial-terms-button {
  position: absolute;
  top: $sp-xs;
  right: $sp-xxs;
  margin-top: 1px; // forever fudging
  transition:
    color 0.15s ease-out,
    transform 0.15s ease-out;

  svg {
    width: $sp-xl;

    path {
      fill: currentColor;
    }
  }

  &:hover, &:focus {
    color: $cornflower-md;
    transform: scale(1.125);
  }
}

.trial-config-form.is-hidden {
  display: block;
  position: absolute;
  left: -$sp-xs;
  transform: translate(-100%) scale(0.75);
  transform-origin: right;
  opacity: 0.3;
  z-index: -1;
  pointer-events: none;

  @media (max-width: 1060px) {
    opacity: 0;
  }
}

.trial-terms,
.trial-followup-form {
  display: flex;
  flex-direction: column;
}

.trial-terms {
  max-height: $card-height;
}

.trial-terms-text {
  flex: 1 1 auto;
  max-height: calc($card-height - $sp-xxl);
  overflow-y: auto;
}

.trial-followup-form-button {
  min-height: 3em;
  margin-top: auto;
}

.trial-followup-form.is-hidden,
.trial-terms.is-hidden,
.trial-summary.followup-mode.is-hidden {
  display: block;
  position: absolute;
  opacity: 0;
  z-index: -1;
  pointer-events: none;
}

.trial-followup-form.is-hidden {
  transform: translate(100%) scale(0.75);
  right: 0;
}

.trial-terms.is-hidden {
  transform: scaleX(0.5);
}

.trial-summary.followup-mode.is-hidden {
  transform: scaleX(0.5) translateX(-200%) !important;
}