.button {
  @include subhead-text;
  letter-spacing: 0.05em;
  display: inline-block;
  padding: 0.125em 1.25em;
  background-color: $dark-2;
  background-image: linear-gradient(to top, rgba($white, 0) 0%, rgba($white, 0.15) 100%);
  border-radius: 3em;
  border: 1px solid $dark-1;

  &[href] {
    text-decoration: none;
  }

  &.fill {
    width: 100%;
  }

  &:not([aria-pressed="true"]):hover,
  &:not([aria-pressed="true"]):focus {
    background: $prism-transparent;
    box-shadow: 0 0 13px 0 rgba($white, 0.25);
    border-color: rgba($white, 0.25);
    text-shadow: 0 0 0.5em $shadow;
  }

  &:after {
    @include fancy-outline(3px, $prism, 2.875em);
  }

  &[aria-pressed="true"] {
    background-color: $light-1;
    color: $black;
    text-shadow: 0 1px 1px $white;
    border-color: $white;

    &:after {
      opacity: 1;
    }
  }

  > svg {
    width: 1.25em;
    top: -0.025em;
    margin-top: -0.025em;
    left: -0.25em;
    text-align: center;

    > path {
      fill: currentColor;
    }
  }

  &[disabled] {
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
  }
}