.checkbox-field {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
}

.checkbox-field-input {
  @include absolute-vertical-center;
  width: auto;
  left: 0;

  &.is-error + .checkbox-field-label-text > .link {
    color: $salmon-light;
    text-decoration-color: $salmon-md;
  }
}
.checkbox-field-label {
  padding-left: $sp-md + $sp-xxs;
  padding-right: $sp-sm;
  user-select: none;
  color: $light-2;

  button {
    text-decoration: underline;
    color: inherit;
    text-decoration-color: $cornflower-md;

    &:hover, &:focus {
      color: $white;
    }
  }
}

.checkbox-field-alert {
  position: relative !important;
}