.text-field-label {
  font-size: $bold-weight;
  color: $white;
}

.text-field-input {
  padding: $sp-xxs $sp-xs;
  color: $light-1;
  background-color: $black;
  border: 1px solid $dark-1;
  border-radius: $radius-sm;

  &.is-error {
    border-color: $salmon-dark;
  }
}

.text-field-alert {
  position: absolute;
  right: 0;
  top: 0;
  color: $salmon-light;

  svg {
    width: 1.25em;
    top: -1px;
  }

  path {
    fill: $salmon-md;
  }
}